{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{title}}
{% endblock %}

{% block stylesheets %}
    {% include 'lib/_styles.html' %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock  %}

{% block content %}
    
    <div class="row">
        <div class="col-12">
            <div class="card card-teal card-outline text-sm">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-list-alt text-teal mr-2"></i>
                        {{title}}
                    </h3>

                    
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 400px;">
                    <table class="table table-head-fixed table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>NIM</th>
                                <th>Nama</th>
                                <th>Program Studi</th>
                                <th>Tahun Lulus</th>
                                <th>Nomor Telepon</th>
                                <th>Email</th>
                                <th>Opsi</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for lulusan in list_of_lulusan %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{lulusan.nomor_mahasiswa}}</td>
                                <td>{{lulusan.nama}}</td>
                                <td>{{lulusan.master_prodi_id.nama}}</td>
                                <td>{{lulusan.tahun_lulus}}</td>
                                <td>{{lulusan.nomor_telepon}}</td>
                                <td>{{lulusan.alamat_email}}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="{% url 'lulusan:detail' lulusan.slug %}">
                                    <i class="fas fa-search"></i>
                                        Detail
                                    </a>
                                    <a class="btn btn-info btn-sm" href="{% url 'lulusan:update' lulusan.pk %}">
                                    <i class="fas fa-pencil-alt"></i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'lulusan:delete' lulusan.pk %}">
                                    <i class="fas fa-trash"></i>
                                    Hapus
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {% include 'lib/_scripts.html' %}
    <!-- DataTables -->
    <script src="{% static 'admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- page script -->
    <script>
    $(function () {
        $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
        });
    });
    </script>
{% endblock  %}