<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        @media  only screen and (max-width: 600px) {
        .inner-body {
            width: 100% !important;
            }

        .footer {
            width: 100% !important;
            }
        }

        @media  only screen and (max-width: 500px) {
        .button {
            width: 100% !important;
            }
        }
    </style>
</head>
<body style="color: #515F7F; background-color: #F5F7FA; -webkit-text-size-adjust: none; font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; height: 100%; -ms-hyphens: auto; hyphens: auto; line-height: 1.4; margin: 0; -moz-hyphens: auto; -ms-word-break: break-all; width: 100%!important; -webkit-hyphens: auto; word-break: break-word;">

    <table class="wrapper" width="100%" cellpadding="0" cellspacing="0" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; background-color: #F5F7FA; padding: 0; -premailer-cellpadding: 0; -premailer-cellspacing: 0; margin: 0; width: 100%; -premailer-width: 100%;">
    <tbody>
    <tr>
        <td align="center" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box;">
            <table class="content" width="100%" cellpadding="0" cellspacing="0" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; padding: 0; -premailer-cellpadding: 0; -premailer-cellspacing: 0; margin: 0; width: 100%; -premailer-width: 100%;">
            <tbody>
            <tr>
                <td class="header" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; text-align: center; padding: 25px 0 5px 0;">
                <a href="" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; text-decoration: none!important; font-weight: 700; color: #bbbfc3; font-size: 19px; text-shadow: 0 1px 0 #fff;" target="_blank">
                    <h1 style="color: #616161; font-weight: 700; font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; font-size: 35px;">
                        <span style="color: #44C998;">
                        Tracer Study
                        </span>
                         TEDC
                    </h1>
                </a>
                </td>
            </tr>
            <!-- Email Body -->
            <tr>
                <td class="body" width="100%" cellpadding="0" cellspacing="0" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; margin: 0; width: 100%; -premailer-width: 100%; padding: 0; -premailer-cellpadding: 0; -premailer-cellspacing: 0;">
                    <table class="inner-body inner-body-first" align="center" width="570" cellpadding="0" cellspacing="0" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; padding: 0; -premailer-cellpadding: 0; -premailer-cellspacing: 0; background-color: #FFF; box-shadow: 0 0 10px 1px #ddd; margin: 0 auto; width: auto; max-width: 570px; -premailer-width: 570px; border-top: 5px solid #44C998;">
                    <!-- Body content -->
                    <tbody>
                    <tr>
                        <td class="content-cell" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; padding: 25px;">
                            <h2 style="color: #2F3133; text-align: left; margin-top: 0; font-weight: 700; font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; font-size: 16px;">
                                Anda telah diundang ke sistem informasi Tracer Study
                            </h2>
                            <p style="color: #515F7F; margin-top: 0; font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; text-align: left; font-size: 16px; line-height: 1.5em;">
                                
                                Agar bisa mengakses dan menikmati sistem informasi tracer study Politeknik TEDC Bandung dengan akun dibawah ini : 
                                <br>
                                username : <span style="color: #2F3133; font-weight: 700;">{{username}}</span>
                                <br>
                                password : <span style="color: #2F3133; font-weight: 700;">{{user_password}}</span>
                                <br>
                                Anda harus terlebih dahulu melakukan konfirmasi email untuk mengaktifkan akun tersebut.
                            </p>
                            <table class="action" align="center" width="100%" cellpadding="0" cellspacing="0" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; text-align: center; margin: 30px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%; padding: 0;">
                                <tbody>
                                <tr>
                                    <td align="center" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box;">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box;">
                                        <tbody>
                                        <tr>
                                            <td align="center" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box;">
                                                <table border="0" cellpadding="0" cellspacing="0" align="center" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box;">
                                                <tbody>
                                                <tr>
                                                    <td style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box;">
                                                    <a href="

                                                    {% if domain %}
                                                    http://{{ domain }}{% url 'lulusan:activate' uidb64=uid token=token %}
                                                    {% endif %}

                                                    " class="button button-hcblue" target="_blank" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; text-decoration: none!important; -webkit-text-size-adjust: none; color: #FFF; border-radius: 3px; box-shadow: 0 2px 3px rgba(0,0,0,.16); display: inline-block; background-color: #44C998; border-top: 10px solid #44C998; border-right: 18px solid #44C998; border-bottom: 10px solid #44C998; border-left: 18px solid #44C998;">
                                                        Konfirmasi Email Anda
                                                    </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p style="color: #515F7F; margin-top: 0; font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; text-align: left; font-size: 16px; line-height: 1.5em;">
                                Bila fitur konfirmasi email tidak berfungsi, silahkan hubungi nomor dibawah ini :
                            </p>
                            <p style="color: #2F3133; margin-top: 0; font-weight: 700; font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; text-align: center; font-size: 16px; line-height: 1.5em;">
                                0859xxxxxxxx
                            </p>
                            <br>
                            <p style="color: #515F7F; margin-top: 0; font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; text-align: left; font-size: 16px; line-height: 1.5em;">
                                Terima kasih telah berkontribusi dalam program tracer study ini, data yang diisi oleh rekan-rekan/ bapak-ibu alumni akan menjadi masukan dan evalusi untuk kami.
                                <br>
                                Sehat dan sukses selalu 👍 !
                            </p>
                            <br>
                            <p style="color: #515F7F; margin-top: 0; font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; text-align: left; font-size: 16px; line-height: 1.5em; margin-bottom: 0;">
                                Admin,<br>
                                Tim Tracer Study & Kemahasiswaan <br>Politeknik TEDC Bandung
                            </p>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box;">
                    <table class="footer" align="center" width="570" cellpadding="0" cellspacing="0" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; text-align: center; margin: 0 auto; padding: 10px 0; width: auto; max-width: 570px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 570px;">
                    <tbody>
                    
                    <tr>
                        <td class="content-cell social-cell" width="25%" align="center" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; padding: 10px;">
                        <a href="" data-ga-track="Mobile App Button" data-ga-label="Android" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; color: #2c1bb2; text-decoration: none!important;" target="_blank"><img src="https://misc.hiyacar.co.uk/email-images/facebook_footer.png" width="32" height="32" alt="Facebook" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; max-width: 100%; border: none;"></a>
                        </td>
                        <td class="content-cell social-cell" width="25%" align="center" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; padding: 10px;">
                        <a href="" data-ga-track="Mobile App Button" data-ga-label="Android" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; color: #2c1bb2; text-decoration: none!important;" target="_blank"><img src="https://misc.hiyacar.co.uk/email-images/twitter_footer.png" width="32" height="32" alt="Facebook" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; max-width: 100%; border: none;"></a>
                        </td>
                        <td class="content-cell social-cell" width="25%" align="center" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; padding: 10px;">
                        <a href="" data-ga-track="Mobile App Button" data-ga-label="Android" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; color: #2c1bb2; text-decoration: none!important;" target="_blank"><img src="https://misc.hiyacar.co.uk/email-images/instagram_footer.png" width="32" height="32" alt="Facebook" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; max-width: 100%; border: none;"></a>
                        </td>
                        <td class="content-cell social-cell" width="25%" align="center" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; padding: 10px;">
                        <a href="" data-ga-track="Mobile App Button" data-ga-label="Android" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; color: #2c1bb2; text-decoration: none!important;" target="_blank"><img src="https://misc.hiyacar.co.uk/email-images/youtube_footer.png" width="32" height="32" alt="Facebook" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; max-width: 100%; border: none;"></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="content-cell" align="center" style="font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; padding: 10px 25px;">
                        <p style="margin-top: 0; font-family: Panton,Avenir,Helvetica,sans-serif; box-sizing: border-box; line-height: 1.5em; text-align: center; margin-bottom: 0; font-size: 12px; color: #44C998;">
                            Sosial Media Politeknik TEDC Bandung
                        </p>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>
    </tbody>
    </table>
</body>
</html>