{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock  %}


{% block content %}
    <h1>{{title}}</h1>
    <h5>Nama : </h5>
    <h4>{{data_respons_header.master_fsatu_id.nama}}</h4>
    <h5>Nim : </h5>
    <h4>{{data_respons_header.master_fsatu_id.nomor_mahasiswa}}</h4>
    <h5>Jurusan : </h5>
    <h4>{{data_respons_header.master_fsatu_id.kode_prodi}}</h4>
    <h5>Lulusan : </h5>
    <h4>{{data_respons_header.master_fsatu_id.tahun_lulus}}</h4>
    <hr>

    <h4>Tanggapan Responden</h4>
    {% for kuesioner in kuesioner_F2 %}
    <h6>{{kuesioner.kode}} - {{kuesioner.pertanyaan}}</h6>
    <table>
        {% for fdua in data_fdua %}
        <tr>
            <td>{{fdua.master_subkuesioner_id.sub_pertanyaan}}</td>
            <td>{{fdua.respons}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    <hr>
    
    {% for kuesioner in kuesioner_F3 %}
    <h6>{{kuesioner.kode}} - {{kuesioner.pertanyaan}}</h6>
    <h5>
        Kira-kira Bulan {{data_ftiga.respons}} {{data_ftiga.keterangan}} 
    </h5>
    {% endfor %}
    <hr>

    {% for kuesioner in kuesioner_F4 %}
    <h6>{{kuesioner.kode}} - {{kuesioner.pertanyaan}}</h6>
    {{data_fempat}}
    {% endfor %}
    <hr>

    {% for kuesioner in kuesioner_F5 %}
    <h6>{{kuesioner.kode}} - {{kuesioner.pertanyaan}}</h6>
    <h5>
        Kira-kira Bulan {{data_flima.respons}} {{data_flima.keterangan}} 
    </h5>
    {% endfor %}
    <hr>

    {% for kuesioner in kuesioner_F6 %}
    <h6>{{kuesioner.kode}} - {{kuesioner.pertanyaan}}</h6>
    <h5>
        {{data_fenam.respons}} {{data_fenam.master_subkuesioner_id.sub_pertanyaan}} 
    </h5>
    {% endfor %}
    <hr>

    {% for kuesioner in kuesioner_F7 %}
    <h6>{{kuesioner.kode}} - {{kuesioner.pertanyaan}}</h6>
    <h5>
        {{data_ftujuh.respons}} {{data_ftujuh.master_subkuesioner_id.sub_pertanyaan}} 
    </h5>
    {% endfor %}
    <hr>

    {% for kuesioner in kuesioner_F7A %}
    <h6>{{kuesioner.kode}} - {{kuesioner.pertanyaan}}</h6>
    <h5>
        {{data_ftujuh_a.respons}} {{data_ftujuh_a.master_subkuesioner_id.sub_pertanyaan}} 
    </h5>
    {% endfor %}
    <hr>

    {% for kuesioner in kuesioner_F8 %}
    <h6>{{kuesioner.kode}} - {{kuesioner.pertanyaan}}</h6>
    <h5>
        {{data_fdelapan.respons}}
    </h5>
    {% endfor %}
    <hr>
    
{% endblock  %}
