{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1><br>
    <ul>
        <li>
            <a href="">Input Data Mahasiswa</a>
        </li>
    </ul>
    <table>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>NIM</th>
            <th>Program Studi</th>
            <th>Tahun Lulus</th>
            <th>Publish</th>
            <th>Opsi</th>
        </tr>
    {% for responden in list_of_responden %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{responden.master_fsatu_id.nama}}</td>
            <td>{{responden.master_fsatu_id.nomor_mahasiswa}}</td>
            <td>{{responden.master_fsatu_id.master_prodi_id.nama}}</td>
            <td>{{responden.master_fsatu_id.tahun_lulus}}</td>
            <td>{{responden.created|date}}</td>
            
            <td>
                <a href="{% url 'respons:detail' responden.pk %}">Detail</a>
                <a href="{% url 'respons:update' responden.pk %}">Edit</a>
                <a href="">Hapus</a>
            </td>
        </tr>
    {% endfor %}
        
        </table>

{% endblock %}