{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{title}}
{% endblock  %}

{% block content %}
  <div class="row">
  
  <div class="col-12">
      <!-- Widget: user widget style 2 -->
    <div class="card">
        <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="card-body bg-info text-center">
        <h4 class="card-text mt-2">Tracer Study TEDC Bandung</h4>
        <h5 class="card-text mt-2 mb-3">Kuesioner Standar Tracer Study Kementerian Ristekdikti Tahun 2017</h5>
        
        {% if user.groups.all.0.name == 'lulusan' %}

          {% if respons_header.current_tab > 0 %}
            <a href="{% url 'respons:detail' respons_header.pk %}" class="btn btn-success elevation-2 mb-3 text-bold"><i class="fa fa-space-shuttle mr-3"></i>Lihat Detail Tanggapan</a>
          {% else %}
            <a href="{% url 'respons:create' %}" class="btn btn-warning elevation-2 mb-3 text-bold"><i class="fa fa-space-shuttle mr-3"></i>Mulai Tanggapan</a>
          {% endif %}

        {% else %}
          <a href="{% url 'respons:create' %}" class="btn btn-warning elevation-2 mb-3 text-bold"><i class="fa fa-space-shuttle mr-3"></i>Mulai Tanggapan</a>
        {% endif %}
      </div>
        
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">17</h5>
              <span class="description-text">Pertanyaan</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header text-warning">{{responden_progress}}</h5>
              <span class="description-text">Responden Progress</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header text-success">{{responden_completed}}</h5>
              <span class="description-text">Responden Completed</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>

      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->

  </div>
{% endblock  %}
