{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1><br>
    <ul>
        <li>
            <a href="{% url 'lulusan:create' %}">Input Data Mahasiswa</a>
        </li>
    </ul>

    <input id="myInput" type="text" placeholder="Search...">
    <select id="myOpsi">
        <option value=""> Semua Prodi</option>
        {% for prodi in list_of_responden %}
            <option value="{{prodi.master_fsatu_id.master_prodi_id.nama}}">{{prodi.master_fsatu_id.master_prodi_id.nama}}</option>
        {% endfor %}
    </select>
    <button type="submit" id="myFilter">Filter</button>
    <br><br>

    <table>
    <thead>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>NIM</th>
            <th>Program Studi</th>
            <th>Tahun Lulus</th>
            <th>Publish</th>
            <th>Opsi</th>
        </tr>
    </thead>
    <tbody id="myTable">
    {% for responden in list_of_responden %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{responden.master_fsatu_id.nama}}</td>
            <td>{{responden.master_fsatu_id.nomor_mahasiswa}}</td>
            <td>{{responden.master_fsatu_id.master_prodi_id.nama}}</td>
            <td>{{responden.master_fsatu_id.tahun_lulus}}</td>
            <td>{{responden.created|date}}</td>
            
            <td>
                <a href="{% url 'respons:detail' responden.pk %}">Detail</a>
                <a href="{% url 'respons:update' responden.pk %}">Edit</a>
                <a href="">Hapus</a>
            </td>
        </tr>
    {% endfor %}
    <tbody>
    </table>

{% endblock %}

{% block javascript %}
    {% include 'lib/_scripts.html' %}
    <!-- jsGrid -->
    <script src=" {% static 'admin-lte/plugins/jsgrid/demos/db.js' %}"></script>
    <script src=" {% static 'admin-lte/plugins/jsgrid/jsgrid.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(':reset');

            $('#myInput').on('keyup', function() {
                var value = $(this).val().toLowerCase();
                $('#myTable tr').filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > - 1)
                });
            });

            $('#myFilter').on('click', function() {
                var value = $('#myOpsi').val().toLowerCase();
                $('#myTable tr').filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > - 1)
                });
            });


        });
    </script>

{% endblock  %}