{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{title}}
{% endblock  %}

{% block content %}
  <div class="row">
      <div class="col-12">


          <div class="card card-teal card-outline card-tabs">

            <div class="card-header p-0 pt-1 border-bottom-0">
              <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                <li class="nav-item"> 
                  <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Unduh Data</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Keterangan</a>
                </li>
                
              </ul>
            </div>

            <div class="card-body">
              <div class="tab-content" id="custom-tabs-three-tabContent">

                <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                  <div class="text-center mt-2 mb-3">
                    <h5>Download Daftar Hasil Responsden dengan format xls:</h5>
                    <img class="img-fluid mt-2 mb-2" src="{% static 'admin-lte/image/marketing.png' %}" width="80"><br>
                    <a class="btn btn-info btn-sm mt-2" href="{% url 'respons:export-xls' %}"><i class="fas fa-download"></i> Unduh Data Responden</a>
                  </div>
                </div>

                <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                  <b>Administrator</b> dapat mengunggah file hasil tracer study perguruan tinggi dengan memilih 
                  file yang akan diunggah. File master excel sebagai template pengisian data dapat diunduh
                  pada link yang telah disediakan (“Master.xls”). Pengisian nilai – nilai pada kolom yang
                  tersedia pada template excel adalah sebagai berikut:<br><br>
                  <div class="table-responsive">
                    <table class="table table-hover table-sm">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Nama Field</th>
                          <th>Keterangan</th>
                        </tr>
                      </thead>

                      <tbody>
                      <tr>
                        <td>1</td>
                        <td>Kdptimsmh </td>
                        <td>: Kode Perguruan Tinggi (PDPT)</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Kdpstmsmh </td>
                        <td>: Kode Program Studi (PDPT)</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Nimmsmh </td>
                        <td>: Nomor Induk Mahasiswa (PDPT)</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Nmmsmh </td>
                        <td>: Nama Mahasiswa</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Telpomsmh </td>
                        <td>: Nomor Telp/HP</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Emailmsmh </td>
                        <td>: Alamat email</td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>F301 – f1754 </td>
                        <td>: disesuaikan dengan value yang ada pada</td>
                      </tr>
                      
                      </tbody>
                    </table>
                  </div><br><br>

                  Referensi form yang digunakan:
                  <a href="http://pkts.belmawa.ristekdikti.go.id/index.php/site/unduh">Form Kuisioner Standar Tracer Study 2017</a> 
                </div>
                
              </div>
            </div>

            <!-- /.card -->
          </div>

    </div>
  </div>
{% endblock  %}
