{% extends 'base.html' %}

{% block title %}
{% endblock  %}

{% block content %}
    <form action="" method="POST">
        <div>
            <h5>{{list_kuesioner.F1}}</h5>
            <label for="">Nomor Mahasiswa/ NIM :</label>
            <input type="text">
        </div><hr>
        <div>
            <h5>{{list_kuesioner.F2}}</h5>
            <input type="radio">
            <label for="">Nomor Mahasiswa/ NIM :</label>
            <input type="text">
            {% for subkuesioner in subkuesioner_fdua %}
                <h6>{{subkuesioner.sub_pertanyaan}}</h6>
                {% for key_option, value_option in response_options_fdua %}
                <input type="radio" id="{{key_option}}" name="{{subkuesioner.sub_pertanyaan}}" value="{{value_option}}">
                <label for="{{key_option}}">{{value_option}}</label>
                {% endfor %}
                <br>
            {% endfor %}
        </div><hr>
        
        <div>
            <h5>{{list_kuesioner.F3}}</h5>
            <label for="">Nomor Mahasiswa/ NIM :</label>
            <input type="text">
        </div><hr>
        <p>
            {% for subkuesioner in list_master_subkuesioner %}
                <ul>
                    <li>
                    {{subkuesioner.master_kuesioner_id.kode}} : {{subkuesioner.sub_pertanyaan}}
                    </li>
                </ul>
            {% endfor %}
        </p>
        <button type="submit">Kirim</button>
    </form>
{% endblock  %}