{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    {% block title_outer %}
        <title> 
        {% block title %}
          {{title}}
        {% endblock %}
        </title>
    {% endblock  %}

    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock%}
    
    {% block stylesheets %}
      {% include 'lib/_styles.html' %}
      
    {% endblock  %}

</head>
<body class="hold-transition layout-fixed layout-navbar-fixed accent-olive text-sm">

{% block body %}
  <div class="wrapper">

    {% block nav_header %}
        {% include 'lib/_main_header.html' %}
    {% endblock  %}

    {% block nav_sidebar %}
      {% include 'lib/_main_sidebar.html' %}
    {% endblock  %}

    {% block content_wrapper %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        {% block content_header %}
          {% include 'lib/_content_header.html' %}
        {% endblock  %}

        <!-- Main content -->
        {% block content_outer %}
        <section class="content">
          <div class="container-fluid">

            {% block content %}{% endblock  %}
            
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        {% endblock  %}


      </div>
      <!-- /.content-wrapper -->
      {% endblock  %}
      
      {% block nav_footer %}
        {% include 'lib/_main_footer.html' %}
      {% endblock  %}

      {% block sidebar_control %}
        {% include 'lib/_sidebar_control.html' %}
      {% endblock  %}


  </div>
  <!-- ./wrapper -->
{% endblock body %}


{% block javascript %}
  {% include 'lib/_scripts.html' %}
{% endblock  %}

</body>
</html>
