{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{title}}
{% endblock  %}

{% block content %}
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
            <span class="info-box-text">Total Lulusan</span>
            <span class="info-box-number">{{total_lulusan}}</span>
            </span>
            </div>

            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-envelope-open"></i></span>

            <div class="info-box-content">
            <span class="info-box-text">Konfirmasi Email</span>
            <span class="info-box-number">{{user_confirmation_email}}%</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="	fa fa-paper-plane"></i></span>

            <div class="info-box-content">
            <span class="info-box-text">Pengisian Kuesioner</span>
            <span class="info-box-text">Completed</span>
            <span class="info-box-number">{{persentase_respons_completed}}%</span>
          </div>
              <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="	fa fa-cogs"></i></span>

              <div class="info-box-content">
              <span class="info-box-text">Pengisian Kuesioner</span>
              <span class="info-box-text">Progress</span>
              <span class="info-box-number">{{persentase_respons_process}}%</span>
          </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-12">

        <!-- BAR CHART -->
        <div class="card card-outline card-teal">
          <div class="card-header">
            <h3 class="card-title">Bar Chart</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>

          <div class="card-body">
            <div class="chart">
              <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col (RIGHT) -->
    </div>
  <!-- /.row -->
  
    <div class="row">
      <div class="col-md-6">
        <!-- Donut chart -->
          <div class="card card-teal card-outline">
            <div class="card-header">
              <h3 class="card-title">
                <i class="far fa-chart-bar"></i>
                Donut Chart
              </h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div id="donut-chart" style="height: 300px;"></div>
            </div>
            <!-- /.card-body-->
          </div>
          <!-- /.card -->
      </div>
      <div class="col-md-6">

      </div>
    </div>
  <!-- /.row -->
  
{% endblock  %}
{% block javascript %}
  {% include 'lib/_scripts.html' %}
  <!-- ChartJS -->
  <script src=" {% static 'admin-lte/plugins/chart.js/Chart.min.js' %} "></script>
  <!-- FLOT CHARTS -->
  <script src=" {% static 'admin-lte/plugins/flot/jquery.flot.js' %} "></script>
  <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
  <script src=" {% static 'admin-lte/plugins/flot-old/jquery.flot.pie.min.js' %} "></script>

  <script>
    //-------------
    //- Data
    //-------------
    var list_prodi = [];
    var list_sudah_bekerja = [];
    var list_belum_bekerja = [];
    var count_sudah_bekerja = 0
    var count_belum_bekerja = 0
    var respons_fdelapan = 0

    '{% for prodi in list_of_prodi %}'
      list_prodi.push('{{prodi}}')
    '{% endfor %}'
    
    '{% for sudah_bekerja in list_lulusan_sudah_bekerja %}'
      list_sudah_bekerja.push(parseInt('{{sudah_bekerja}}'))
      count_sudah_bekerja += parseInt('{{sudah_bekerja}}')
    '{% endfor %}'
    
    '{% for belum_bekerja in list_lulusan_belum_bekerja %}'
      list_belum_bekerja.push(parseInt('{{belum_bekerja}}'))
      count_belum_bekerja += parseInt('{{belum_bekerja}}')
    '{% endfor %}'

    // kalkulasi persentase
    respons_fdelapan = 100 / (count_sudah_bekerja + count_belum_bekerja)
    console.log(respons_fdelapan)
    count_sudah_bekerja *= respons_fdelapan
    console.log(count_sudah_bekerja)
    count_belum_bekerja *= respons_fdelapan
    console.log(count_belum_bekerja)

    var areaChartData = {
      labels  : list_prodi,
      datasets: [
        {
          label               : 'Sudah Bekerja',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : list_sudah_bekerja
        },
        
        {
          label               : 'Belum Bekerja',
          backgroundColor     : 'rgba(210, 214, 222, 1)',
          borderColor         : 'rgba(210, 214, 222, 1)',
          pointRadius         : false,
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : list_belum_bekerja
        },
      ]
    }

    //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $('#barChart').get(0).getContext('2d')
    var barChartData = jQuery.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    var temp1 = areaChartData.datasets[1]
    barChartData.datasets[0] = temp1
    barChartData.datasets[1] = temp0

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }

    var barChart = new Chart(barChartCanvas, {
      type: 'bar', 
      data: barChartData,
      options: barChartOptions
    })

    /*
     * DONUT CHART
     * -----------
     */

    var donutData = [
      {
        label: 'Sudah Bekerja',
        data : count_sudah_bekerja,
        color: '#3c8dbc'
      },
      {
        label: 'Belum Bekerja',
        data : count_belum_bekerja,
        color: '#00c0ef'
      }
    ]
    $.plot('#donut-chart', donutData, {
      series: {
        pie: {
          show       : true,
          radius     : 1,
          innerRadius: 0.3,
          label      : {
            show     : true,
            radius   : 2 / 3,
            formatter: labelFormatter,
            threshold: 0.1
          }

        }
      },
      legend: {
        show: false
      }
    })
    /*
     * END DONUT CHART
     */
    /*

    * Custom Label formatter
    * ----------------------
    */
    function labelFormatter(label, series) {
      return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
        + label
        + '<br>'
        + Math.round(series.percent) + '%</div>'
    }

  </script>

{% endblock  %}








                
                




