{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'login/bootstrap.css' %} ">
  <!-- Style CSS -->
  <link rel="stylesheet" href="{% static 'login/style.css' %} ">
</head>
<body>
  <div class="container">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
        <!-- @ Start login box wrapper -->
        <div class="blmd-wrapp">
            <div class="blmd-color-conatiner ripple-effect-All"></div>
            <div class="blmd-header-wrapp ">
                <div class="blmd-switches">
                     <button class="btn btn-circle btn-lg btn-blmd ripple-effect btn-success blmd-switch-button">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#fff" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                         </svg>
                      </button>
                </div> 
                
            </div> 
            <div class="blmd-continer">
            {% if messages %}
            <ul class="messages">
                {% for messages in messages %}
                    <li {% if messages.tags %} class="{{messages.tags}} " {% endif %} style='color:#369187; font-size:20px;'>
                    {{messages}}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            
            

                <!-- @ Login form container -->
                <form method="POST" class="clearfix" id="login-form">
                  {% csrf_token %}
                    <h1>Login Tracer Study TEDC</h1>
                    <div class="col-md-12">
        

                        <div class="input-group blmd-form">
                            <div class="blmd-line">
                                <input type="text" name="username" autocomplete="off" id="username" class="form-control">
                                <label class="blmd-label">Email atau Username</label>
                            </div>
                        </div>
                        <div class="input-group blmd-form">
                            <div class="blmd-line">
                                <input type="password" name="password" autocomplete="off" id="password" class="form-control">
                                <label class="blmd-label">Password</label>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-blmd ripple-effect btn-success btn-lg btn-block">Login</button>
                    </div>
                    <br/>
                </form>
                <!-- @ Login form container -->
                <form action="POST" class="clearfix form-hidden" id="Register-form">
                    <h1>Register Akun Tracer Studi</h1>
                    <div class="col-md-12">
                        
                        <div class="input-group blmd-form">
                            <div class="blmd-line">
                                <input type="text" name="username" autocomplete="off" id="username" class="form-control">
                                <label class="blmd-label">Email or Username</label>
                            </div>
                        </div>
                        <div class="input-group blmd-form">
                            <div class="blmd-line">
                                <input type="password" name="password" autocomplete="off" id="password" class="form-control">
                                <label class="blmd-label">Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-blmd ripple-effect btn-warning btn-lg btn-block">Register</button>
                    </div>
                    <br/>
                </form>
            </div>
        </div>
      
    </div>
</div>
</body>
<!-- jQuery -->
<script src=" {% static 'login/jquery.js' %} "></script>
<!-- Bootstrap 4 -->
<script src=" {% static 'login/bootstrap.js' %} "></script>
<!-- login -->
<script src=" {% static 'login/script.js' %} "></script>
</html>